openmbvcppinterface/schema/openmbv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mbsim-env.de/OpenMBV"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.mbsim-env.de/OpenMBV"
  xmlns:pv="http://www.mbsim-env.de/MBXMLUtils"
  xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.w3.org/2001/XInclude"/>

  <xs:import namespace="http://www.mbsim-env.de/MBXMLUtils"/>

  <xs:annotation><xs:documentation xml:lang="en" xmlns="">
    <p>The data of an OpenMBV visualization consist of two parts: a XML file (<code>&lt;filename&gt;.ombv.xml</code>) and a HDF5 file (<code>&lt;filename&gt;.ombv.h5</code>).</p>
    <p>The root element of the XML file must be <span class="_element">&lt;Group&gt;</span>. The syntax, the attributes and the possible children for the XML elements is documented in the section Elements. A full valid example XML file (TS.ombv.xml) is given by:</p><pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Group name="TS" expand="1" enable="1" xmlns="http://www.mbsim-env.de/OpenMBV">
  <Group name="Hauptgruppe1" expand="1" enable="1">
    <Cuboid name="Box1" enable="1">
      <minimalColorValue>0</minimalColorValue>
      <maximalColorValue>1</maximalColorValue>
      <diffuseColor>[0.3;1;1]</diffuseColor>
      <initialTranslation>[0;0;0]</initialTranslation>
      <initialRotation>[0;0;0]</initialRotation>
      <scaleFactor>1</scaleFactor>
      <length>[0.5;0.5;0.5]</length>
    </Cuboid>
    <Frame name="P1" enable="1">
      <minimalColorValue>0</minimalColorValue>
      <maximalColorValue>1</maximalColorValue>
      <diffuseColor>[-1;1;1]</diffuseColor>
      <initialTranslation>[0;0;0]</initialTranslation>
      <initialRotation>[0;0;0]</initialRotation>
      <scaleFactor>1</scaleFactor>
      <size>0.5</size>
      <offset>1</offset>
    </Frame>
  </Group>
</Group>]]></pre>
    <p>The according HDF5 file (TS.ombv.h5) must provide two datasets with the following path in the HDF5 file:</p>
    <ul>
      <li>"/Hauptgruppe1/Box1/data"</li>
      <li>"/Hauptgruppe1/P1/data"</li>
    </ul>
    <p>The content of the datasets is also documented in section Elements.</p>
  </xs:documentation></xs:annotation>


  <xs:simpleType name="objectReferenceType">
    <xs:restriction base="pv:stringPartialEval">
      <!-- pattern value="(\.\./)*(X/)*X" with
             X=((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)
      from physicalvariable.xsd name attribute -->
      <xs:pattern value="(\.\./)*(((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)/)*((([a-zA-Z_]|[a-zA-Z_][a-zA-Z0-9_]*[a-zA-Z_])\{[^\}]+\})+([a-zA-Z_][a-zA-Z0-9_]*)?|[a-zA-Z_][a-zA-Z0-9_]*)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Object" abstract="true" type="ObjectType"/>
  <xs:complexType name="ObjectType">
    <xs:attribute name="name" type="pv:stringPartialEval" use="required"/>
    <xs:attribute name="enable" type="pv:booleanFullEval" default="1"/>
    <xs:attribute name="boundingBox" type="pv:booleanFullEval" default="0"/>
  </xs:complexType> 

  <xs:element name="Group" substitutionGroup="Object" type="GroupType"/>
  <xs:complexType name="GroupType">
    <xs:complexContent>
      <xs:extension base="ObjectType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Object"/>  
          <xs:element ref="xi:include" xmlns:xi="http://www.w3.org/2001/XInclude"/>  
        </xs:choice> 
        <xs:attribute name="expand" type="pv:booleanFullEval" default="1"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Body" abstract="true" substitutionGroup="Object" type="BodyType"/>
  <xs:complexType name="BodyType">
    <xs:complexContent>
      <xs:extension base="ObjectType">
        <xs:sequence>
          <xs:element name="hdf5Link" minOccurs="0">  
            <xs:complexType>
              <xs:attribute name="ref" type="objectReferenceType" use="required"/>
            </xs:complexType> 
          </xs:element>
        </xs:sequence> 
        <xs:attribute name="outLine" type="pv:booleanFullEval" default="1"/>
        <xs:attribute name="shilouetteEdge" type="pv:booleanFullEval" default="0"/>
        <xs:attribute name="drawMethod" type="pv:stringPartialEval" default="filled">
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="DynamicColoredBody" abstract="true" substitutionGroup="Body" type="DynamicColoredBodyType"/>
  <xs:complexType name="DynamicColoredBodyType">
    <xs:complexContent>
      <xs:extension base="BodyType">
        <xs:sequence>
          <xs:element name="minimalColorValue" type="pv:nounitScalar" minOccurs="0"/>
          <xs:element name="maximalColorValue" type="pv:nounitScalar" minOccurs="0"/>
          <xs:element name="diffuseColor" type="pv:nounitVector" minOccurs="0"/>
          <xs:element name="transparency" type="pv:nounitScalar" minOccurs="0"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="RigidBody" abstract="true" substitutionGroup="DynamicColoredBody" type="RigidBodyType"/>
  <xs:complexType name="RigidBodyType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">
        <xs:sequence>
          <xs:element name="initialTranslation" type="pv:lengthVector"/>
          <xs:element name="initialRotation" type="pv:angleVector"/>
          <xs:element name="scaleFactor" type="pv:nounitScalar"/>
        </xs:sequence> 
        <xs:attribute name="localFrame" type="pv:booleanFullEval" default="0"/>
        <xs:attribute name="referenceFrame" type="pv:booleanFullEval" default="0"/>
        <xs:attribute name="path" type="pv:booleanFullEval" default="0"/>
        <xs:attribute name="dragger" type="pv:booleanFullEval" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Cube" substitutionGroup="RigidBody" type="CubeType"/>
  <xs:complexType name="CubeType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="length" type="pv:lengthScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Cuboid" substitutionGroup="RigidBody" type="CuboidType"/>
  <xs:complexType name="CuboidType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="length" type="pv:lengthVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Frustum" substitutionGroup="RigidBody" type="FrustumType"/>
  <xs:complexType name="FrustumType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="baseRadius" type="pv:lengthScalar"/>
          <xs:element name="topRadius" type="pv:lengthScalar"/>
          <xs:element name="height" type="pv:lengthScalar"/>
          <xs:element name="innerBaseRadius" type="pv:lengthScalar"/>
          <xs:element name="innerTopRadius" type="pv:lengthScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Frame" substitutionGroup="RigidBody" type="FrameType"/>
  <xs:complexType name="FrameType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="size" type="pv:lengthScalar"/>
          <xs:element name="offset" type="pv:nounitScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Grid" substitutionGroup="RigidBody" type="GridType"/>
  <xs:complexType name="GridType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="xSize" type="pv:lengthScalar"/>
          <xs:element name="ySize" type="pv:lengthScalar"/>
          <xs:element name="nx" type="pv:integerFullEval"/>
          <xs:element name="ny" type="pv:integerFullEval"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="IvBody" substitutionGroup="RigidBody" type="IvBodyType"/>
  <xs:complexType name="IvBodyType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="ivFileName" type="pv:filenameFullEval"/>
          <xs:element name="creaseEdges" type="pv:angleScalar" minOccurs="0"/>
          <xs:element name="boundaryEdges" type="pv:booleanFullEval" minOccurs="0"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Rotation" substitutionGroup="RigidBody" type="RotationType"/>
  <xs:complexType name="RotationType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="startAngle" type="pv:angleScalar" minOccurs="0"/>
          <xs:element name="endAngle" type="pv:angleScalar" minOccurs="0"/>
          <xs:element name="contour" type="pv:lengthMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Sphere" substitutionGroup="RigidBody" type="SphereType"/>
  <xs:complexType name="SphereType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="radius" type="pv:lengthScalar"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="InvisibleBody" substitutionGroup="RigidBody" type="InvisibleBodyType"/>
  <xs:complexType name="InvisibleBodyType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType"/>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="SpineExtrusion" substitutionGroup="DynamicColoredBody" type="SpineExtrusionType"/>
  <xs:complexType name="SpineExtrusionType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">
        <xs:sequence>
          <xs:element name="contour" type="pv:lengthMatrix"/>
          <xs:element name="scaleFactor" type="pv:nounitScalar"/>
          <xs:element name="initialRotation" type="pv:angleVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType> 

  <xs:element name="Extrusion" substitutionGroup="RigidBody" type="ExtrusionType"/>
  <xs:complexType name="ExtrusionType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="windingRule" type="pv:stringFullEval"/>
          <xs:element name="height" type="pv:lengthScalar"/>
          <xs:element name="contour" maxOccurs="unbounded" type="pv:lengthMatrix"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="CompoundRigidBody" substitutionGroup="RigidBody" type="CompoundRigidBodyType"/>
  <xs:complexType name="CompoundRigidBodyType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element ref="RigidBody" maxOccurs="unbounded"/>
        </xs:sequence> 
        <xs:attribute name="expand" type="pv:booleanFullEval" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Arrow" substitutionGroup="DynamicColoredBody" type="ArrowType"/>
  <xs:complexType name="ArrowType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">
        <xs:sequence>
          <xs:element name="diameter" type="pv:lengthScalar"/>
          <xs:element name="headDiameter" type="pv:lengthScalar"/>
          <xs:element name="headLength" type="pv:lengthScalar"/>
          <xs:element name="type" type="pv:stringFullEval"/>
          <xs:element name="referencePoint" minOccurs="0" type="pv:stringFullEval"/>
          <xs:element name="scaleLength" type="pv:nounitScalar"/>
        </xs:sequence> 
        <xs:attribute name="path" type="pv:booleanFullEval" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="Path" substitutionGroup="Body" type="PathType"/>
  <xs:complexType name="PathType">
    <xs:complexContent>
      <xs:extension base="BodyType">
        <xs:sequence>
          <xs:element name="color" type="pv:nounitVector"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="CoilSpring" substitutionGroup="DynamicColoredBody" type="CoilSpringType"/>
  <xs:complexType name="CoilSpringType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">
        <xs:sequence>
          <xs:element name="type" minOccurs="0" type="pv:stringFullEval"/>
          <xs:element name="numberOfCoils" type="pv:nounitScalar"/>
          <xs:element name="springRadius" type="pv:lengthScalar"/>
          <xs:element name="crossSectionRadius" type="pv:lengthScalar" minOccurs="0"/>
          <xs:element name="nominalLength" type="pv:lengthScalar" minOccurs="0"/>
          <xs:element name="scaleFactor" type="pv:nounitScalar" minOccurs="0"/>
        </xs:sequence> 
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>   

  <xs:element name="NurbsDisk" substitutionGroup="DynamicColoredBody" type="NurbsDiskType"/>
  <xs:complexType name="NurbsDiskType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">        
        <xs:sequence>
          <xs:element name="scaleFactor" type="pv:nounitScalar"/>
          <xs:element name="drawDegree" type="pv:integerFullEval"/>
          <xs:element name="innerRadius" type="pv:lengthScalar"/>
          <xs:element name="outerRadius" type="pv:lengthScalar"/>
          <xs:element name="elementNumberAzimuthal" type="pv:integerFullEval"/>
          <xs:element name="elementNumberRadial" type="pv:integerFullEval"/>
          <xs:element name="interpolationDegreeAzimuthal" type="pv:integerFullEval"/>
          <xs:element name="interpolationDegreeRadial" type="pv:integerFullEval"/>
          <xs:element name="knotVecAzimuthal" type="pv:nounitVector"/>
          <xs:element name="knotVecRadial" type="pv:lengthVector"/>
        </xs:sequence> 
        <xs:attribute name="localFrame" type="pv:booleanFullEval" default="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="NurbsCurve" substitutionGroup="RigidBody" type="NurbsCurveType"/>
  <xs:complexType name="NurbsCurveType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="controlPoints" type="pv:nounitMatrix"/>
          <xs:element name="numberOfControlPoints" type="pv:integerFullEval"/>
          <xs:element name="knotVector" type="pv:nounitVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="NurbsSurface" substitutionGroup="RigidBody" type="NurbsSurfaceType"/>
  <xs:complexType name="NurbsSurfaceType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="controlPoints" type="pv:nounitMatrix"/>
          <xs:element name="numberOfUControlPoints" type="pv:integerFullEval"/>
          <xs:element name="numberOfVControlPoints" type="pv:integerFullEval"/>
          <xs:element name="uKnotVector" type="pv:nounitVector"/>
          <xs:element name="vKnotVector" type="pv:nounitVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DynamicNurbsCurve" substitutionGroup="DynamicColoredBody" type="DynamicNurbsCurveType"/>
  <xs:complexType name="DynamicNurbsCurveType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">
        <xs:sequence>
          <xs:element name="numberOfControlPoints" type="pv:integerFullEval"/>
          <xs:element name="knotVector" type="pv:nounitVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DynamicNurbsSurface" substitutionGroup="DynamicColoredBody" type="DynamicNurbsSurfaceType"/>
  <xs:complexType name="DynamicNurbsSurfaceType">
    <xs:complexContent>
      <xs:extension base="DynamicColoredBodyType">
        <xs:sequence>
          <xs:element name="numberOfUControlPoints" type="pv:integerFullEval"/>
          <xs:element name="numberOfVControlPoints" type="pv:integerFullEval"/>
          <xs:element name="uKnotVector" type="pv:nounitVector"/>
          <xs:element name="vKnotVector" type="pv:nounitVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="IndexedLineSet" substitutionGroup="RigidBody" type="IndexedLineSetType"/>
  <xs:complexType name="IndexedLineSetType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="vertexPositions" type="pv:nounitMatrix"/>
          <xs:element name="indices" type="pv:indexVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="IndexedFaceSet" substitutionGroup="RigidBody" type="IndexedFaceSetType"/>
  <xs:complexType name="IndexedFaceSetType">
    <xs:complexContent>
      <xs:extension base="RigidBodyType">
        <xs:sequence>
          <xs:element name="vertexPositions" type="pv:nounitMatrix"/>
          <xs:element name="indices" type="pv:indexVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="FlexibleBody" substitutionGroup="Body" type="FlexibleBodyType"/>
  <xs:complexType name="FlexibleBodyType">
    <xs:complexContent>
      <xs:extension base="BodyType">
        <xs:sequence>
          <xs:element name="minimalColorValue" type="pv:nounitScalar" minOccurs="0"/>
          <xs:element name="maximalColorValue" type="pv:nounitScalar" minOccurs="0"/>
          <xs:element name="diffuseColor" type="pv:nounitVector" minOccurs="0"/>
          <xs:element name="transparency" type="pv:nounitScalar" minOccurs="0"/>
          <xs:element name="numberOfVertexPositions" type="pv:integerFullEval" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DynamicIndexedLineSet" substitutionGroup="FlexibleBody" type="DynamicIndexedLineSetType"/>
  <xs:complexType name="DynamicIndexedLineSetType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="indices" type="pv:indexVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="DynamicIndexedFaceSet" substitutionGroup="FlexibleBody" type="DynamicIndexedFaceSetType"/>
  <xs:complexType name="DynamicIndexedFaceSetType">
    <xs:complexContent>
      <xs:extension base="FlexibleBodyType">
        <xs:sequence>
          <xs:element name="indices" type="pv:indexVector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
