mbxmlutils/mbxmlutils/parameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.mbsim-env.de/MBXMLUtils"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.mbsim-env.de/MBXMLUtils"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="types.xsd"/>

  <xs:element name="Parameter">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="import">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="stringFullEval">
                <xs:attribute name="label" type="xs:string">
                  <xs:annotation><xs:documentation xml:lang="en">
                    The optional label for this parameter. Just to identify the parameter in e.g. a UI (similar to the 'name' of normal parameters)
                  </xs:documentation></xs:annotation>
                </xs:attribute>
                <xs:attribute name="action" type="xs:string"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="stringParameter">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="stringFullEval">
                <xs:attribute name="name" use="required">
                  <xs:annotation><xs:documentation xml:lang="en">
                    The name of the parameter. In the evaluator a variable with this name will be available holding the value of the parameter.
                  </xs:documentation></xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="scalarParameter">
          <xs:complexType mixed="true">
            <xs:complexContent>
              <xs:extension base="nounitScalar">
                <xs:attribute name="name" use="required">
                  <xs:annotation><xs:documentation xml:lang="en">
                    The name of the parameter. In the evaluator a variable with this name will be available holding the value of the parameter.
                  </xs:documentation></xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="vectorParameter">
          <xs:complexType mixed="true">
            <xs:complexContent>
              <xs:extension base="nounitVector">
                <xs:attribute name="name" use="required">
                  <xs:annotation><xs:documentation xml:lang="en">
                    The name of the parameter. In the evaluator a variable with this name will be available holding the value of the parameter.
                  </xs:documentation></xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="matrixParameter">
          <xs:complexType mixed="true">
            <xs:complexContent>
              <xs:extension base="nounitMatrix">
                <xs:attribute name="name" use="required">
                  <xs:annotation><xs:documentation xml:lang="en">
                    The name of the parameter. In the evaluator a variable with this name will be available holding the value of the parameter.
                  </xs:documentation></xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="anyParameter">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="name" use="required">
                  <xs:annotation><xs:documentation xml:lang="en">
                    The name of the parameter. In the evaluator a variable with this name will be available holding the value of the parameter.
                  </xs:documentation></xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[_a-zA-Z][_a-zA-Z0-9]*"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

</xs:schema>
